/* login.css */

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.loginContainerEmail,
.loginContainerPassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.loginContainerEmail label,
.loginContainerPassword label {
    font-size: 16px;
}

.loginContainerEmail input,
.loginContainerPassword input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginContainerSubmit {
    margin-top: 20px;
}

.loinContainerCreateAccount {
    margin-top: 20px;
}

.primaryBtn {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.secondaryBtn{
    padding: 6px 10px;
    align-items: center;
    margin-left: 25%;
        font-size: 16px;
        background-color: #dcc06c;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;

}

.primaryBtn:hover {
    background-color: #0056b3;
}

.loinContainerCreateAccount a {
    color: #007bff;
    text-decoration: none;
}

.loinContainerCreateAccount a:hover {
    text-decoration: underline;
}